{% include 'quiz/header.html' %}
{% load static %}


<section class="hero-section">
    <div class="hero-shape">
        <img src="{% static 'quiz/img/hero-shape.svg' %}" alt="" class="shape">
    </div>
    <div class="container mt-5 mb-5 text-center">
        <div class="row ">
            <div class="col-sm">
                <h1 class="display-1"  style="color: #3a28ff;">Django <b>Quiz <br></b> App </h1>
                <p class="fs-4 mt-4" data-wow-delay=".4s">
                    You can take the test without signing up. Just enter a username and start enjoying!
                </p>

                <!--  -->

                <div class="row">
                    <div class="col"></div>
                    <div class="col-6">
                        <form method="POST" action="{% url 'quiz:start_test' %}">
                            {% csrf_token %}

                            {% for field in form %}
                                {% if field.errors %}
                                    <small class="text-danger">{{ field.errors }}</small>
                                {% endif %}
                                <!-- {{ field.label }} -->
                                {{ field }}
                            {% endfor %}

                            <button class="mt-2 btn form-control btn-primary" type="submit">
                                &nbsp;&nbsp; Start Quiz &nbsp;&nbsp;
                            </button>
                        </form>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="col-sm hero-right-image">
                <img src="{% static 'quiz/img/undraw_online_test_gba7.svg' %}" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</section>


{% include 'quiz/footer.html' %}