{% include 'quiz/header.html' %}
{% load static %}


<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-lg-6 col-12 mt-5 mb-5">
            <!-- ***** Display if all questions are not answered ****** -->
            {% if unanswered_questions %}
            <div class="alert alert-primary unanswered_questions_alert row" role="alert">
                <div class="col">
                    Please answer all questions
                </div>
                <div class="col">
                    <div class="text-align" style="float: right;">
                        <a href="" class="unanswered_questions_btn"><img src="{% static 'quiz/img/x.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- ************************** -->
            <div class="text-center">
                <h1>Answer all questions</h1>
            </div>

            <form method="POST" action="{% url 'quiz:quiz-submit-test' %}" class="pt-3 p-3">
                {% csrf_token %}
                <input type="hidden" name="test_uuid" value="{{ new_uuid }}">
                <input type="hidden" name="questions_count" value="{{ questions|length }}">
                {% for question in questions %}
                
                <div>
                    {{ question.text }}
                    <br>
                    {% for choice in choices %}

                        {% if choice.question.id == question.id %}
                        <br>
                        <span>
                            <input type="radio" name="{{ question.id }}" value="{{ choice.id }}" id="{{ choice.id }}"> 
                            <label for="{{ choice.id }}">{{ choice.text }}</label>
                        </span>

                        <!-- {% if choice.answer %}
                        => {{ choice.answer }}
                        {% endif %} -->
                        {% endif %}

                    {% endfor %}
                    <br>
                    <hr>
                    <!-- <br> -->
                </div>
                {% endfor %}

                <button class="btn btn-success">Submit</button>
            </form>
        </div>
        
    </div>
</div>


{% include 'quiz/footer.html' %}